---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Main Page">
	<div class="hero bg-base-200">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<img src="/recycle.png" class="max-w-sm rounded-lg" />
			<div>
				<h1 class="text-5xl font-bold">
					Да направим света <span class="green">по-зелен</span>
				</h1>
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
					excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
					id nisi.
				</p>
				<a href="/help"><button class="btn btn-primary">Помогни днес</button></a
				>
			</div>
		</div>
	</div>
	<div
		class="max-w-7xl grid md:grid-cols-2 grid-cols-1 place-self-center content-between my-10"
	>
		<div class="p-5">
			<h1 class="text-5xl font-bold">Как работи кръговата икономика?</h1>
			<p class="py-6">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
				accusamus culpa nihil excepturi? Laudantium vero debitis aut tempora
				autem, aperiam tempore, veritatis assumenda voluptatem commodi officiis,
				consectetur sapiente minus impedit.
			</p>
			<a href="/help"><button class="btn btn-primary">Разбери още</button></a>
		</div>
		<div class="">
			<img src="/circular_economy.png" alt="" />
		</div>
	</div>
</DefaultLayout>

<style>
	@keyframes color-green {
		to {
			color: green;
		}
	}

	.green {
		animation: color-green 3s ease-out forwards;
	}
</style>
