---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Main Page">
	<div class="hero bg-base-200">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<img src="/recycle.png" class="max-w-sm rounded-lg" />
			<div>
				<h1 class="text-5xl font-bold">
					Да направим света <span class="green">по-зелен</span>
				</h1>
				<p class="py-6">
					Нуждаем се от устойчиви начини за използване на ресурсите, за да
					намалим отпадъците и замърсяването на околната среда. Това може да ни
					донесе икономически, социални и екологични ползи, като спестяване на
					разходи за суровини, по-ефективно производство и създаване на нови
					работни места.
				</p>
				<a href="/help"><button class="btn btn-primary">Помогни днес</button></a
				>
			</div>
		</div>
	</div>
	<div
		class="max-w-7xl grid md:grid-cols-2 grid-cols-1 place-self-center content-between my-10"
	>
		<div class="p-5">
			<h1 class="text-5xl font-bold">Как работи кръговата икономика?</h1>
			<p class="py-6">
				Кръговата икономика е икономически модел, който има за цел да минимизира
				отпадъците и да максимизира използването на ресурси, като продуктите,
				компонентите и материалите се използват възможно най-дълго чрез повторна
				употреба, поправка и рециклиране. Това е възобновяема система, която се
				фокусира върху създаването на стойност за икономиката и околната среда.
			</p>
			<a href="/help"><button class="btn btn-primary">Разбери още</button></a>
		</div>
		<div class="">
			<img src="/circular_economy.png" alt="" />
		</div>
	</div>
</DefaultLayout>

<style>
	@keyframes color-green {
		to {
			color: green;
		}
	}

	.green {
		animation: color-green 3s ease-out forwards;
	}
</style>
