---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Main Page">
  <script>
    import FingerprintJS from '@fingerprintjs/fingerprintjs-pro';
    if (window.location.host !== 'localhost:3000') {
      // Initialize an agent at application startup.
      const fpPromise = FingerprintJS.load({
        apiKey: 'MYFYvn6LOj3qVJz6SZl8',
        region: 'eu',
      });

      // Get the visitor identifier when you need it.
      fpPromise.then((fp) => fp.get()).then((result) => console.log(result));
    }
  </script>

  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/recycle.png" class="max-w-sm rounded-lg recycle" />
      <div>
        <h1 class="text-5xl font-bold">
          Да направим света <span class="green">по-зелен</span>
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Помогни днес</button>
      </div>
    </div>
  </div>
  <div
    class="max-w-7xl grid md:grid-cols-2 grid-cols-1 place-self-center content-between my-10"
  >
    <div class="p-5">
      <h1 class="text-5xl font-bold">Как работи кръговата икономика?</h1>
      <p class="py-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
        accusamus culpa nihil excepturi? Laudantium vero debitis aut tempora
        autem, aperiam tempore, veritatis assumenda voluptatem commodi officiis,
        consectetur sapiente minus impedit.
      </p>
      <button class="btn btn-primary">Разбери още</button>
    </div>
    <div class="">
      <img src="/circular_economy.png" alt="" />
    </div>
  </div>
</DefaultLayout>

<style>
  @keyframes rotate-img {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  @keyframes color-green {
    to {
      color: green;
    }
  }

  .green {
    animation: color-green 1s ease-out forwards;
  }

  .recycle {
    animation: rotate-img 20s linear infinite;
  }
</style>
