---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Инициативи">
	<div class="hero bg-base-200">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<div>
				<h1 class="text-5xl font-bold">
					Ученически инициативи за спасяване на околната среда
				</h1>
				<p class="py-6">
					Нуждаем се от устойчиви начини за използване на ресурсите, за да
					намалим отпадъците и замърсяването на околната среда. Това може да ни
					донесе икономически, социални и екологични ползи, като спестяване на
					разходи за суровини, по-ефективно производство и създаване на нови
					работни места. Учениците от СПГЕ "Джон Атанасов" създадоха инициатива
					за тяхна идея за как може да се помогне рециклирането
				</p>
			</div>
			<img src="/kosh.png" class="md:max-w-sm rounded-lg" />
		</div>
	</div>
	<div
		class="max-w-3xl grid grid-cols-1 place-self-center content-between my-10"
	>
		<div class="p-5">
			<h1 class="text-2xl font-bold">
				Направихме интервю с Росен Райков от 10б клас, който ни запозна с идеята
				на класа му, нейната цел и прогрес до този момент.
			</h1>
			<h3 class="py-6 font-bold">Какво представлява идеята?</h3>
			<p class="py-6">
				Учениците от 10б клас на СПГЕ ,,Джон Атанасов” имат идеята да се
				изработи кошче за рециклиране, изработено от дървените плоскости на
				чинове в училище, които не се използват. Кошчето ще има три отделения, а
				именно – за бутилки, кенчета и капачки, като също така ще има
				инфрачервени сензори и екран.
			</p>
			<h3 class="py-6 font-bold">Какво цели тази идея?</h3>
			<p class="py-6">
				Желанието на 10б клас е да се насърчат младите и по-конкректно
				възпитаниците на нашето любимо СПГЕ ,,Джон Атанасов” да събират разделно
				и да рециклират, за да помогат на околната среда.
			</p>
			<h3 class="py-6 font-bold">
				Започнали ли са работа, за да осъществят тази идея и какъв е техният
				прогрес?
			</h3>
			<p class="py-6">
				Да, работят акитвно, за да може тяхната идея да стане реална. Говорили
				са вече с майстора на училището, обяснили са му идеята, направили са
				план и чертеж на кошчето, а майсторът им е дал ориентировъчна цена,
				спрямо нужните материали за изработката на кошчето за рециклиране.
				Написали за заявление, което ще представят на директор инж. Полина
				Костова, което представлява молба за получаване на нужните средства за
				изработка на кошче за рециклиране, направено от дървени плоскости на уч.
				чинове, включващо екран и инфрачервени сензори.
			</p>
		</div>
	</div>
</DefaultLayout>
