---
export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="form-control">
	<label class="label cursor-pointer">
		<span class="label-text">{name}</span>
		<input
			type="radio"
			name="radio-10"
			class="radio checked:bg-green-500"
			checked
		/>
	</label>
</div>
